<a class="dib pv3 ph4 ph5-ns f5 lh-copy fw7 no-underline tc bg-gold near-black o-90 br2 grow" href="{{ .href }}"{{ with .attr }} {{.}}{{ end }}>
  {{- if .icon -}}
    <svg class="dib h1 w1 mr2 black-50" fill="currentColor" aria-hidden="true">
      <use xlink:href="#{{ .icon }}"></use>
    </svg>
  {{- end -}}
  <span>{{ .text }}</span>
</a>