{{ $item := .item }}
{{ $liClass := .liClass }}
{{ $aClass := .aClass }}
<li data-aos="fade-up" class="{{ $liClass }}">
  <a class="project-nav-item db flex-ns flex-row-ns cf w-100 f5 no-underline color-inherit bg-white br2 shadow-5 grow {{ $aClass }}" href="{{ $item.url }}"{{ with .target }} target="{{.}}"{{ end }}>
  {{ if $item.feature_image }}
    <div class="fl-ns w-50-ns aspect-ratio aspect-ratio--16x9 pb0-ns h-auto-ns br2 br--top br2-ns br--left-ns bg-top cover dim" role="img" style="background-image: url('{{ $item.feature_image }}');"></div>
  {{ end }}
    <div class="pa3 pa4-ns fl-ns w-50-ns">
      {{ with $item.label }}<div class="f7 fw6 ttu tracked light-silver">{{ . }}</div>{{ end }}
      {{ with $item.title }}<h4 class="f3 f4-m lh-title mt1">{{ . }}</h4>{{ end }}
      {{ with $item.description }}<p class="f6 mt3 gray lh-copy serif">{{ . }}</p>{{ end }}
    </div>
  </a>
</li>
