{{- $sprite := .past_clients.sprite -}}
<div class="bg-near-white pv5 pv6-ns ph3 ph4-ns">
  <div data-aos="fade-up" class="measure center f4">
    <h2 class="f1 lh-title">{{ .past_clients.heading }}</h2>
    <p class="mt4 lh-copy serif">{{ .past_clients.text }}</p>
  </div>
  <div class="mw9 center cf mt4 mt5-ns">
  {{- range $index, $value := .past_clients.clients -}}
    <div data-aos="fade-up" data-aos-delay="
      {{- if or (eq $index 1) (eq $index 5) -}}100
      {{- else if or (eq $index 9) (eq $index 13) -}}100
      {{- else if or (eq $index 2) (eq $index 6) -}}200
      {{- else if or (eq $index 10) (eq $index 14) -}}200
      {{- else if or (eq $index 3) (eq $index 7) -}}300
      {{- else if or (eq $index 11) (eq $index 15) -}}300
      {{- end -}}" class="w-50 w-third-m w-25-l pv3 pv4-ns fl">
      <div class="client-logo center">
        <div class="aspect-ratio aspect-ratio--4x3 client-logo-{{ .id }}" style="background-image: url({{ $sprite }});"><span class="clip">{{ .name }}</span></div>
      </div>
    </div>
  {{- end -}}
  </div>
</div>
