<section class="f5 f4-ns mv4 mv5-ns ph4-ns">
  <div class="measure cf center">
    <ul class="list pl0 mv0 nl4-ns nr4-ns cf word-wrap">
      <li data-aos="fade-up" class="fl-ns w-50-ns mt3">
        <a class="db no-underline color-inherit hover-dark-gold grow pa3 pa4-ns" id="email-link" href="" target="_blank">
          <svg class="db h2 w2 gold" fill="currentColor" aria-hidden="true">
            <use xlink:href="#envelope"></use>
          </svg>
          <h3 class="mt3 f3 f2-ns fw7 near-black lh-title">Email</h3>
          <div class="lh-copy serif">
            <p class="mt3 f5 f4-ns gray">Send me an email</p>
            <p class="f5 f3-ns">{{ .Params.email_text | markdownify}}</p>
          </div>
        </a>
      </li>
      <li data-aos="fade-up" class="fl-ns w-50-ns mt3">
        <a class="db no-underline color-inherit hover-dark-gold grow pa3 pa4-ns" id="phone-link" href="" target="_blank">
          <svg class="db h2 w2 gold" fill="currentColor" aria-hidden="true">
            <use xlink:href="#volume-level-three"></use>
          </svg>
          <h3 class="mt3 f3 f2-ns fw7 near-black lh-title">Phone</h3>
          <div class="lh-copy serif">
            <p class="mt3 f5 f4-ns gray">Call/Facetime me for a chat</p>
            <p class="f4 f3-ns">{{ .Params.phone_text }}</p>
          </div>
        </a>
      </li>
      <li data-aos="fade-up" class="fl-ns w-100-ns mt3 pa3 pa4-ns">
        <svg class="db h2 w2 gold" fill="currentColor" aria-hidden="true">
          <use xlink:href="#map-marker"></use>
        </svg>
        <h3 class="mt3 f3 f2-ns fw7 lh-title">Location</h3>
        <div class="mt3 cms-content lh-copy nested-copy-line-height nested-headline-line-height serif">{{ .Params.location_text | markdownify }}</div>
      </li>
    </ul>
  </div>
</section>
<script>
  // Avoid those pesky spam bots
  document.getElementById("email-link").setAttribute("href", {{ .Params.email_link }})
  document.getElementById("phone-link").setAttribute("href", {{ .Params.phone_link }})
</script>
