<!-- Contact -->
<div class="mt5">
  <h4 class="f3 b lh-title tc">Drop us a line</h4>

  <form action="" class="mt3">
    <div class="flex-l nl1-l nr1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l pt4">
        <fieldset class="bn pa0 ma0 relative">
          <input type="text" id="name" placeholder="Name" class="input-reset font-inherit pa3 ba br2 b--black-10 input-with-label w-100">
          <label for="name" class="absolute top--2 left-0 pv2 ph3 f7 lh-title silver">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l pt4">
        <fieldset class="bn pa0 ma0 relative">
          <input type="email" id="email" placeholder="Your email" class="input-reset font-inherit pa3 ba br2 b--black-10 input-with-label w-100">
          <label for="email" class="absolute top--2 left-0 pv2 ph3 f7 lh-title silver">Your email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <div class="ph1-l w-100 pt4">
      <fieldset class="bn pa0 ma0 relative">
        <textarea name="message" type="text" id="message" placeholder="Your message" rows="8" cols="80" class="input-reset font-inherit pa3 ba br2 b--black-10 input-with-label w-100"></textarea>
        <label for="message" class="absolute top--2 left-0 pv2 ph3 f7 lh-title silver">Your message</label>
      </fieldset>
    </div>

    <!-- Submit -->
    <div class="mt3 tc">
      <button class="button-reset pa3 ba br2 pointer lh-solid b--transparent bg-gold hover-bg-gold color-inherit h-auto w-100 w-auto-ns mb0-ns" type="submit">Submit</button>
    </div>
  </form>
</div>
