{{- $isGallery := .isGallery -}}
{{- $isGrid := .isGrid -}}
{{- $isFullWidth := eq .width "full" -}}
{{- $isWideWidth := eq .width "wide" -}}
{{- $figClass := printf "%s%s" "center " (cond (eq $isGallery true) "gallery-item fl w-100 o-0" (cond (or $isFullWidth $isWideWidth) (cond $isWideWidth "pv3-ns mw8" "pv3-ns") "")) -}}
{{- $figClass := printf "%s%s" $figClass (cond (or (eq $isGallery true) (eq $isGrid true)) (cond (eq $isGallery true) "" " mv4") " mv5") -}}
{{- $figClass := cond (eq "string" (printf "%T" .class)) (cond (eq .replace_class true) .class (printf "%s%s" $figClass (printf "%s%s" " " .class))) $figClass -}}
{{- with or .node . -}}
  {{- $iPhone8 := eq .frame "iphone8" }}
  {{- if or (fileExists (printf "%s%s" "/static" .image)) (fileExists (printf "%s%s" "/static" .video)) -}}
    {{- if $iPhone8 -}}
      <div class="media-frame media-frame-iphone-8 overflow-hidden relative nl3 nr3 mh0-ns ph4 ph0-ns">
    {{- end -}}
    {{- if .video -}}
      {{- $videoTypeArr := split .video "." -}}
      {{- $videoExt := index $videoTypeArr 1 -}}
      {{- $portrait := eq .aspect_ratio "9x16" -}}
      <figure {{ if $isGallery }}{{ else }}data-aos="fade-up"{{ end }} class="video animated-media {{ $figClass }}{{ if $portrait }} figure-ar-9x16{{ end }}{{ if .autoplay }} played{{ end }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject">
        {{- if $iPhone8 -}}
          <div class="media-frame-device absolute bg-center cover"></div>
        {{- end -}}
        <div class="aspect-ratio aspect-ratio--{{ with .aspect_ratio }}{{.}}{{ else }}16x9{{ end }}">
          <video {{ if .autoplay }} autoplay{{ end }} loop class="lazy aspect-ratio--object" data-poster="" preload="none" itemprop="video">
            <source src="{{ .video }}" type="video/mp4">
            <source src="{{ index $videoTypeArr 0 }}.webp" type="video/webm">
          </video>
        </div>
    {{- else -}}
      {{- $imgData := imageConfig (printf "%s%s" "/static" .image) -}}
      {{- $ratio := mul (div (mul $imgData.Height 1.0) $imgData.Width) 100 -}}
      {{- $portrait := gt $ratio 100 -}}
      <figure {{ if $isGallery }}{{ else }}data-aos="fade-up"{{ end }} class="{{ if .pswp }}pswp-figure {{ end }}{{ $figClass }}{{ if and $portrait (gt $ratio 177) }} figure-ar-9x16{{ end }}{{ if and .rellax $isFullWidth }} relative h-0 overflow-hidden{{ end }}" {{ if and .rellax $isFullWidth }}style="padding-bottom:{{ mul $ratio .75 }}%;"{{ end }} itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        {{- if $iPhone8 -}}
          <div class="media-frame-device absolute bg-center cover"></div>
        {{- end -}}
        {{- if .pswp -}}
          <a href="{{ .image }}" class="pswp-link cursor-nesw-resize db relative w-100 h-0"{{ with $imgData }} data-size="{{ .Width }}x{{ .Height }}"{{ end }} itemprop="contentUrl" style="padding-bottom:{{ $ratio }}%;">
        {{- else -}}
          <div class="w-100 h-0{{ if .rellax }} absolute top-0 left-0 rellax{{ else }} relative{{ end }}"{{ if .rellax }} data-rellax-speed="{{ .rellax }}" data-rellax-percentage="0"{{ end }} style="padding-bottom:{{ $ratio }}%;">
        {{- end }}
          <img itemprop="thumbnail" src="{{ $.Site.Params.dataUriFallback }}" data-src="{{ .image }}" class="lazy w-100 h-100 db absolute top-0 left-0"{{ if or (.alt) (.caption) }} alt="{{ with .alt }}{{.}}{{ else }}{{ .caption }}{{ end }}"{{ end }}{{ with $imgData }} width="{{ .Width }}"{{ end }}/>
        {{- if .pswp }}</a>{{- else -}}</div>{{- end }}
    {{- end -}}
    {{- if or (or (.title) (.caption)) (.attr) -}}
      <figcaption class="mt3{{ if or $isFullWidth $isWideWidth }} measure center{{ end }}{{ if $isFullWidth }} ph3 ph0-ns{{ end }}">{{- with .title }}
        <h5 class="f5 f4-ns lh-title fw5">{{.}}</h5>{{- end -}}
        {{- if or (.caption) (.attr) }} <div class="serif lh-copy{{ if .title }} mt2{{ else }} mt1{{ end }} f7 f6-m f5-l silver">
          {{- .caption -}}
          {{- with .attrlink }}<a href="{{.}}">{{- end -}}
            {{- .attr -}}
          {{- if .attrlink }}</a>{{- end -}}
        </div> {{- end }}
      </figcaption>
    {{- end -}}
    </figure>
    {{- if $iPhone8 -}}
      </div>
    {{- end -}}
  {{- else -}}
    {{ errorf "Specified file at %s not found." (printf "%s%s" "/static" .image) }}
  {{- end -}}
{{- end -}}