      {{ partial "footer-content.html" . }}
    </div><!-- .page -->
  </div><!-- #ajax-container -->
  <div aria-hidden="true">
    {{ partial "svg.html" . }}
  </div>
  {{ partial "pswp.html" . }}
</div><!-- .near-black -->
<!-- Scripts -->
<script id="js-jquery" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script id="js-init" src="{{ .Site.BaseURL }}js/init.js"></script>
<script id="js-app" src="{{ .Site.BaseURL }}js/app.js"></script>
