{{ $currentPage := . }}
{{ if .Site.Menus.footer }}
<footer class="bg-near-white pv5 ph3 ph4-ns" id="footer">
  <ul class="list pl0 lh-copy">
  {{ range .Site.Menus.footer }}
    {{ partial "navigation-item.html" (dict "node" . "page" $currentPage "aClass" "silver hover-gold") }}
  {{ end }}
  </ul>
</footer>
{{ end }}
