{{ $currentPage := . }}
{{ if .Site.Menus.main }}
<div class="modal z-1001 disable-highlight fixed absolute--fill tl dn overflow-x-hidden overflow-y-auto" id="menu" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog absolute top-0 right-0 w-100 w-50-ns min-h-100 near-white bg-black-90 shadow-4" id="menu-inner">
    <div class="center w-70 mw5-ns mt6 pv3 pv4-ns">
      <h6 class="f5 f4-ns lh-title white-50 fw4">Navigate</h6>
      <ul class="list pl0 mt4 mt5-ns f3 f2-l lh-copy serif nl2 nr2">
      {{ range $index, $value := .Site.Menus.main }}
        {{ partial "navigation-item.html" (dict "node" . "index" $index "page" $currentPage "liClassSub" " f5 f4-m f3-l" "aClass" "no-underline near-white hover-gold pa2 db") }}
      {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
