{{- $page := .page -}}
{{- $liClass := .liClass -}}
{{- $liClassSub := printf "%s%s" (or $liClass "") (printf "%s%s" " " (or .liClassSub "")) -}}
{{- $aClass := .aClass -}}
{{- $active := ($page.HasMenuCurrent "main" .node) -}}
{{- if .node.HasChildren -}}
  <li class="sub-menu{{ if $active }} active expanded{{ end }} {{ $liClass }}">
    <a class="{{ $aClass }}" role="button" href="#" data-toggle="dropdown"><svg class="caret dib {{ if $active }} rotate-90{{ end }}" fill="currentColor" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>{{ .node.Name }}</a>
    <ul class="sub list pl3 pl4-l{{ if not $active }} dn{{ end }}">
    {{- range $index, $value := .node.Children -}}
      {{ partial "navigation-item.html" (dict "node" . "index" $index "page" $page "aClass" $aClass "liClass" $liClassSub) }}
    {{- end -}}
    </ul>
  </li>
{{- else -}}
  <li class="menu-item {{ $liClass }}{{ if $page.IsMenuCurrent `main` .node }} active{{ end }}">
    <a class="{{ $aClass }} js-ajax-link" href="{{ .node.URL }}">{{ .node.Name }}</a>
  </li>
{{- end -}}
