{{- $project := .project -}}
{{- $liClass := .liClass -}}
{{- $aClass := .aClass -}}
{{- $img := $project.Params.project_icon_large -}}
<li data-aos="fade-up" class="{{ $liClass }}">
  {{- if $project.Params.wip -}}
  <div class="project-nav-item w-100 db no-underline color-inherit tc grow">
  {{- else -}}
  <a class="project-nav-item w-100 db no-underline color-inherit tc grow" href="{{ $project.Permalink }}">
  {{- end -}}
    {{- if $img -}}
      {{- $imgData := imageConfig (printf "%s%s" "/static" $img) -}}
      <div class="center" style="max-width:{{ div $imgData.Width 2 }}px;">
        <div class="aspect-ratio aspect-ratio--1x1">
          <div class="aspect-ratio--object cover" role="img" style="background:url('{{ $img }}') no-repeat center;"></div>
        </div>
      </div>
    {{- end -}}
    <div class="pt2-ns">
      {{ if .label -}}<small class="f7 fw5 ttu tracked white-70">{{ .label }}</small>{{- end }}
      <h4 class="f3 lh-title">{{ $project.Title }}</h4>
      <p class="mw5-ns center f6 mt3 white-80 lh-copy serif">{{ $project.Description }}</p>
    </div>
  {{- if $project.Params.wip -}}
  </div>
  {{- else -}}
  </a>
  {{- end -}}
</li>
