{{- $section := .Section }}
{{- $related := $.Site.Pages.Related . | first 3 -}}
{{- if $related -}}
  {{- $liClass := "fl-ns flex-ns w-50-m w-third-l pa3 pa4-l mv3 mv0-ns" -}}
  <nav class="project-nav mt5 pt2 pt3-ns ph3 ph0-ns bg-near-black white">
    <ul class="f4 mw9 center pv3 pv4-ns list mv0 pl0 flex-ns flex-wrap justify-around">
      {{- range $related.ByWeight -}}
        {{- $label := cond (eq .Section "article") "Case study" "Next up" -}}
        {{ partial "project-nav-item" (dict "project" . "liClass" $liClass "aClass" "project-nav-item flex-ns flex-column" "label" $label) }}
      {{- end -}}
    </ul>
  </nav>
{{- end -}}