{{- with . -}}
  {{- $len := len . }}
  <aside class="f5 f4-ns mv4 mv5-ns ph3 ph4-ns">
    <div class="measure center pb2 pb3-ns">
      <ul class="list mv0 pl0 nl3 nr3 cf flex-ns justify-center">
        {{- range $index, $value := . -}}
          {{- if eq $len 1 -}}
            {{ partial "card-horizontal" (dict "item" . "url" .url "liClass" "mv3 ph3" "target" .target ) }}
          {{- else -}}
            {{ partial "card-vertical" (dict "item" . "url" .url "liClass" "fl-ns w-50-ns mv3 ph3 ph2-m flex-ns" "aClass" "flex-ns flex-column-ns" "target" .target ) }}
          {{- end -}}
        {{- end -}}
      </ul>
    </div>
  </aside>
{{- end -}}