<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="w-100 h-100 relative p0 sans-serif white bg-near-black loading">
  {{ partial "head" . }}
  <body class="w-100 h-100 relative p0">
    {{- block "header" . }}
      {{ partial "header" . }}
    {{- end }}
    {{- block "main" . }}
      <div>Base template content</div>
    {{- end }}
    {{- block "footer" . }}
      {{ partial "footer" . }}
    {{- end }}
  </body>
</html>
