{{ define "main" }}
<main role="main">
  <article>
    <div class="near-black">
      <div class="pt6 pt7-ns ph3 ph4-ns">
        <div class="measure center f4">
          <h1 class="lh-title f1 f-subheadline-ns tc tracked-tight">{{ .Title }}</h1>
        </div>
      </div>
      <div class="projects-list-large pv5 pv6-ns overflow-hidden" id="content">
        <div class="mw9 center cf">
          {{- $paginator := (.Paginator 5) -}}
          {{- range $index, $page := $paginator.Pages.ByWeight -}}
            {{ .Render "li" }}
          {{- end -}}
          {{- partial "pagination" (dict "paginator" $paginator "site" .Site ) -}}
        </div>
      </div>
    </div>
  </article>
</main>
{{ end }}
