{{- define "main" -}}
{{- $baseurl := .Site.BaseURL -}}
<main role="main"{{ with .Params.color }} data-brand-color="{{.}}"{{ end }}>
  <article class="{{ .Section }}">
    {{ partial "jumbotron" (dict "page" . "inverse" true) }}
    <div class="{{ .Section }}-content near-black pv4 pv5-ns" id="content">
      {{ partial "page-content" . }}
      {{ partial "blocks" .Params.blocks }}
      {{ partial "related-links" .Params.related_links }}
    </div>
    {{- if .Params.tags }}
      <footer class="mt5 ph3 ph4-ns">
        <div class="project-tags f5 f4-ns measure center">
        {{- range $index, $tag := .Params.tags -}}
          <a class="f7 dib no-underline mr2 pv2 ph2 br2 bg-black-05 silver hover-bg-black-10" href="{{ $baseurl }}tags/{{ $tag | urlize | }}/">{{ $tag }}</a>
        {{- end -}}
        </div>
      </footer>
    {{- end }}
  </article>
</main>
{{ partial "related-pages-nav" . }}
{{- end -}}
