// PurifyCSS doesn't remove unused aos selectors ???
// @import '../../../node_modules/aos/src/sass/aos';

// ... So we rebuild what we need ...

// Animations variables
$aos-distance: 40px !default;
$aos-duration: 750ms; // Default duration set in JS and used in other parts of SCSS

// Uncomment easing to compile
$aos-easing: (
  linear: cubic-bezier(.250, .250, .750, .750),

  ease: cubic-bezier(.250, .100, .250, 1),
  // ease-in: cubic-bezier(.420, 0, 1, 1),
  ease-out: cubic-bezier(.000, 0, .580, 1),
  ease-in-out: cubic-bezier(.420, 0, .580, 1),

  // ease-in-back: cubic-bezier(.6, -.28, .735, .045),
  ease-out-back: cubic-bezier(.175, .885, .32, 1.275),
  // ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55),

  // ease-in-sine: cubic-bezier(.47, 0, .745, .715),
  // ease-out-sine: cubic-bezier(.39, .575, .565, 1),
  // ease-in-out-sine: cubic-bezier(.445, .05, .55, .95),

  // ease-in-quad: cubic-bezier(.55, .085, .68, .53),
  // ease-out-quad: cubic-bezier(.25, .46, .45, .94),
  // ease-in-out-quad: cubic-bezier(.455, .03, .515, .955),

  // ease-in-cubic: cubic-bezier(.55, .085, .68, .53),
  // ease-out-cubic: cubic-bezier(.25, .46, .45, .94),
  // ease-in-out-cubic: cubic-bezier(.455, .03, .515, .955),

  // ease-in-quart: cubic-bezier(.55, .085, .68, .53),
  ease-out-quart: cubic-bezier(.25, .46, .45, .94),
  // ease-in-out-quart: cubic-bezier(.455, .03, .515, .955)
);

// Easings implementations
// Default timing function: 'ease'

[data-aos] {
  @each $key, $val in $aos-easing {
    body[data-aos-easing="#{$key}"] &,
    &[data-aos][data-aos-easing="#{$key}"] {
      transition-timing-function: $val;
    }
  }
}



// Generate Duration
// Using while loop for increments (i*50)
// https://stackoverflow.com/a/18802597
[data-aos] {

  $i: 1;
  @while $i < 6 {
    body[data-aos-duration='#{$i * 250}'] &,
    &[data-aos][data-aos-duration='#{$i * 250}'] {
      transition-duration: #{$i * 250}ms;
    }
    $i: $i + 1; // Increment by 1 (configurable)
  }
}

// Generate Delay
// Using while loop for increments (i*50)
// https://stackoverflow.com/a/18802597
[data-aos] {
  $i: 1;
  @while $i < 7 {
    body[data-aos-delay='#{$i * 50}'] &,
    &[data-aos][data-aos-delay='#{$i * 50}'] {
      transition-delay: 0ms;

      &.aos-animate {
        transition-delay: #{$i * 50}ms;
      }
    }
    $i: $i + 1; // Increment by 1 (configurable)
  }
}


/**
 * Fade animations:
 * fade
 * fade-up, fade-down, fade-left, fade-right
 * fade-up-right, fade-up-left, fade-down-right, fade-down-left
 */

[data-aos^='fade'][data-aos^='fade'] {
  opacity: 0;
  transition-property: opacity, transform;

  &.aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-aos='fade-up'] {
  transform: translate3d(0, $aos-distance, 0);
}
[data-aos='fade-right'] {
  transform: translate3d(-$aos-distance, 0, 0);
}
[data-aos='fade-left'] {
  transform: translate3d($aos-distance, 0, 0);
}


/**
 * Zoom animations:
 * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
 * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
 */
[data-aos^='zoom'][data-aos^='zoom'] {
  opacity: 0;
  transition-property: opacity, transform;

  &.aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

[data-aos='zoom-in'] {
  transform: scale(.9);
}
