@import '../../../node_modules/tachyons-sass/scss/word-break';

// Converted Variables


// Custom Media Query Variables


/*

  WORD BREAK

   Base:
     word = word-break

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/