{{- define "main" -}}
{{- $section := .Section }}
{{- $baseurl := .Site.BaseURL -}}
{{- $cvUrl := .Site.Params.cv_url }}
<main role="main"{{ with .Params.color }} data-brand-color="{{.}}"{{ end }}>
  <article class="{{ .Section }}">
    {{ partial "jumbotron" (dict "page" . "inverse" false) }}
    <div class="{{ .Section }}-content near-black pv4 pv5-ns" id="content">
      {{- with .Params.approach -}}
        <section class="f5 f4-ns mb4 mb5-ns ph3 ph4-ns">
          <div class="measure cf center pv3">
            <h2 data-aos="fade-up" data-aos-anchor=".jumbotron" data-aos-delay="200" class="f1 fw7 lh-title">{{ .heading }}</h2>
            <h6 data-aos="fade-up" data-aos-anchor=".jumbotron" data-aos-delay="300" class="mt2 f3 fw4 gray">{{ .subheading }}</h6>
            <div class="flex-ns flex-wrap-ns cf pl0-ns mv2 nl4-ns nr4-ns">
              {{ range $index, $value := .mantras }}
                <div data-aos="fade-up"{{ if not (modBool $index 2) }} data-aos-delay="200"{{ end }} class="relative fl flex-ns flex-column-ns w-50-ns mt4 mt5-ns ph4-ns">
                  <div class="gold">
                    <svg class="db h2 w2" fill="currentColor" aria-hidden="true">
                      <use xlink:href="#{{ .svg }}"></use>
                    </svg>
                  </div>
                  <h5 class="mt3 f5 fw7 lh-title">{{ .heading }}</h5>
                  <p class="mt2 f5 lh-copy serif">{{ .text }}</p>
                </div>
              {{ end }}
            </div>
          </div>
        </section>
      {{- end -}}
      {{- with .Params.skills_and_knowledge -}}
        <section class="f5 f4-ns mv4 mv5-ns ph3 ph4-ns pv4 pv5-ns relative overflow-hidden bg-near-black white">
          <div class="absolute absolute--fill rellax br0" data-rellax-speed="-3" data-rellax-percentage="0.6" style="background-image:url('/img/devices-bg-black.jpg');"></div>
          <div class="relative">
            <div class="measure cf center pv3">
              <h2 data-aos="fade-up" class="f1 fw7 lh-title">{{ .heading }}</h2>
              <div data-aos="fade-up" class="cms-content cms-block cms-block-text mt4 measure cf center lh-copy nested-copy-line-height nested-headline-line-height serif white-80">{{ .description | markdownify }}</div>
            </div>
            <div class="measure-m mw8-l pv3-l cf center">
              <ul class="checklist list ul pl0 mv4 cf flex-ns flex-wrap align-start f6 sans-serif fw6 tracked-tight">
                {{- range .skills -}}
                  <li data-aos="fade-up" class="fl-ns w-50-m w-third-l mt3 pr3-m pr4-l">{{.}}</li>
                {{- end -}}
              </ul>
            </div>
            <div data-aos="fade-up" class="measure cf center pv3 mt3">
              <svg class="db fl h1 w2 mt1 mr2 gold" fill="currentColor" aria-hidden="true">
                <use xlink:href="#info-circle"></use>
              </svg>
              <small class="db overflow-hidden serif lh-copy white-60">{{ .footnote | markdownify }}</small>
            </div>
          </div>
        </section>
      {{- end -}}
      {{- with .Params.professional_background -}}
        <section class="f5 f4-ns mv4 mv5-ns pb4 pb5-ns ph3 ph4-ns">
          <div class="measure cf center pt3">
            <h2 data-aos="fade-up" class="f1 fw7 lh-title">{{ .heading }}</h2>
          </div>
          <div class="mw8 center">
            {{- range .timeline -}}
              <div class="measure-m center-m mt4 mt5-m mt6-l pv3 cf flex-l">
                <div data-aos="fade-up" class="fl-ns w-100-m w-third-l flex-ns flex-column-l pr4-l">
                  <div class="fl-m w-50-m flex-m flex-column-m">
                    <div class="nl4-ns">
                      {{- with .link -}}
                        <a href="{{.}}" class="db pl4-ns bl-ns bw2 b--gold no-underline color-inherit dim">
                      {{- else -}}
                        <div class="pl4-ns bl-ns bw2 b--black-10">
                      {{- end -}}
                        <h3 class="f7 fw5 lh-title silver ttu tracked">{{ .dates }}</h3>
                        <h4 class="mt1 f3 fw7 lh-title">{{ .title }}</h4>
                        {{ with .role -}}<div class="mt1 f7 fw4 lh-title gray ttu tracked">{{.}}</div>{{- end }}
                        {{ with .summary -}}<p class="mt3 f6 fw4 lh-copy gray">{{.}}</p>{{- end }}
                      {{- if .link -}}</a>{{ else }}</div>{{- end -}}
                    </div>
                  </div>
                  {{- if .achievements -}}
                    <div class="fl-m w-50-m flex-m flex-column-m pl3-m mt-auto-l mb2-l">
                      <ul class="list-unstyled list pt3-l pl4 pl0-ns mt-auto mb0 f7 silver">
                      {{- range .achievements -}}
                        <li class="mt3 pl4-m">
                          <span class="fl nl4 w2">
                            <svg class="db center h1 w1 gold mt1" fill="currentColor" aria-hidden="true">
                              <use xlink:href="#star-icon"></use>
                            </svg>
                          </span>
                          {{ . | markdownify }}
                        </li>
                      {{- end -}}
                      </ul>
                    </div>
                  {{- end -}}
                </div>
                <div data-aos="fade-up" data-aos-delay="200" class="fl-ns w-two-thirds-l mt4 mt0-l pt2 pt0-l ph4-l">
                  <div class="measure cms-content cms-block cms-block-text lh-copy nested-copy-line-height nested-headline-line-height serif">
                    {{ .content | markdownify }}
                  </div>
                  {{- with .link -}}
                    <div class="measure mt4 tr">
                      <a class="pv3 mr2 mr0-ns f4 fw4 lh-copy no-underline dark-gold hover-inherit" href="{{.}}">Read more <i class="f3 icon-long-arrow-right dib v-mid ml2 relative"></i></a>
                    </div>
                  {{- end -}}
                </div>
              </div>
            {{- end -}}
            <p data-aos="fade-up" class="measure-m center mt5 mt6-ns tc tr-ns">
              {{ partial "button" (dict "text" "Download CV (PDF)" "icon" "download" "href" $cvUrl "attr" "download") }}
            </p>
          </div>
        </section>
      {{- end -}}
      {{ partial "page-content" . }}
    </div>
  </article>
</main>
{{ partial "related-pages-nav" . }}
{{- end -}}
