{{- define "main" -}}
{{- $section := .Section }}
{{- $baseurl := .Site.BaseURL -}}
<main role="main"{{ with .Params.color }} data-brand-color="{{.}}"{{ end }}>
  <article class="{{ .Section }}">
    {{ partial "jumbotron" (dict "page" . "inverse" false) }}
    <div class="{{ .Section }}-content near-black" id="content">
	    {{ partial "contact-entries" . }}
      <div class="ph3 ph4-ns">
        <p data-aos="fade-up" class="f4 measure center mb5 mb6-ns tc tl-ns">
          {{ partial "button" (dict "text" "Download CV (PDF)" "icon" "download" "href" .Site.Params.cv_url "attr" "download") }}
        </p>
      </div>
	    {{ partial "page-content" . }}
	  </div>
  </article>
</main>
{{ partial "related-pages-nav" . }}
{{- end -}}
