{{- define "main" -}}
<main role="main">
  <article class="404">
    <header class="jumbotron relative overflow-hidden" data-inverse="true">
      <div class="jumbotron-bg absolute absolute--fill bg-center cover rellax bg-near-black" data-rellax-speed="-3" style="background-image:url('/img/devices-bg-black.jpg');"></div>
      <div class="jumbotron-top relative">
        <div class="f4-ns ph3 ph4-ns pb5 flex flex-auto min-vh-100 white">
          <div class="jumbotron-text pt6 mv-auto flex flex-column center measure rellax" data-rellax-speed="3">
            <div class="f2 f1-ns fw3 white-10 lh-title">404</div>
            <h1 data-aos="fade" data-aos-anchor=".jumbotron" data-aos-duration="750" data-aos-easing="ease-out-quart" class="f1 f-subheadline-ns pb3 pb4-ns pt4-ns lh-solid tracked-tight">Page not found</h1>
            <div data-aos="fade" data-aos-anchor=".jumbotron" data-aos-duration="750" data-aos-easing="ease-out-quart" data-aos-delay="200" class="f5 f3-ns lh-copy serif mt3">Ooh it's dark and lonely here. You'd better <a href="{{ .Site.BaseURL }}" class="no-underline gold o-80 glow">return to safety</a>.</div>
          </div>
        </div>
      </div>
    </header>
  </article>
</main>
{{- end -}}