{{- define "main" -}}
<main id="home" role="main">
  <article class="homepage">
    {{ partial "jumbotron" (dict "page" . "inverse" true) }}
    <div class="homepage-content near-black" id="content">
      {{- with .Params.introduction -}}
        <div class="pv5 pv6-ns ph3 ph4-ns" id="intro">
          <div class="measure center f4">
            <h2 data-aos="fade-up" class="f2 lh-title">{{ .heading }}</h2>
            <div data-aos="fade-up" data-aos-delay="50" class="mt4 cms-content f3-ns lh-copy nested-copy-line-height nested-headline-line-height serif">{{ .text | markdownify }}</div>
            <p data-aos="fade-up" data-aos-delay="100" class="mt4 f3-ns lh-copy serif">
              <a href="/about/" class="no-underline dark-gold hover-near-black">More about me <i class="icon-long-arrow-right dib v-mid ml2 relative"></i></a>
            </p>
          </div>
        </div>
      {{- end -}}
      {{ partial "clients" .Params }}
      {{ partial "projects" . }}
      {{ partial "page-content" . }}
    </div>
  </article>
</main>
{{- end -}}
