// ! TACHYONS v4.9.0 | http://tachyons.io

//
//
//      ________            ______
//      ___  __/_____ _________  /______  ______________________
//      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
//      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
//      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
//                                 /____/
//
//    TABLE OF CONTENTS
//
//    1. External Library Includes
//       - Normalize.css | http://normalize.css.github.io
//       - PhotoSwipe
//    2. Tachyons Modules
//    3. Variables
//       - Media Queries
//       - Colors
//    4. Debugging
//       - Debug all
//       - Debug children
//
//


//  External Library Includes
@import 'imports/normalize';
// PhotoSwipe Core and UI Skin
@import 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css';
// @import '../../node_modules/photoswipe/src/css/main.scss';
// @import '../../node_modules/photoswipe/src/css/default-skin/default-skin.scss';

// // TODO: Change to async loader?
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

//  Variables
//  Importing here will allow you to override any variables in the modules

@import 'imports/helpers';
@import 'imports/variables';

//  Debugging
@import '../../node_modules/tachyons-sass/scss/debug-children';
@import '../../node_modules/tachyons-sass/scss/debug-grid';

//  Uncomment out the line below to help debug layout issues
//  @import '../../node_modules/tachyons-sass/scss/debug';

 //  Modules
 @import 'imports/box-sizing';
 @import 'imports/aos';
 @import '../../node_modules/tachyons-sass/scss/aspect-ratios';
 @import 'imports/images';
 @import '../../node_modules/tachyons-sass/scss/background-size';
 @import '../../node_modules/tachyons-sass/scss/background-position';
 @import 'imports/background-clip';
 @import '../../node_modules/tachyons-sass/scss/outlines';
 @import '../../node_modules/tachyons-sass/scss/borders';
 @import '../../node_modules/tachyons-sass/scss/border-colors';
 @import '../../node_modules/tachyons-sass/scss/border-radius';
 @import '../../node_modules/tachyons-sass/scss/border-style';
 @import '../../node_modules/tachyons-sass/scss/border-widths';
 @import '../../node_modules/tachyons-sass/scss/box-shadow';
 @import '../../node_modules/tachyons-sass/scss/code';
 @import 'imports/coordinates';
 @import 'imports/clears';
 @import '../../node_modules/tachyons-sass/scss/display';
 @import '../../node_modules/tachyons-sass/scss/flexbox';
 @import '../../node_modules/tachyons-sass/scss/floats';
 @import 'imports/font-family';
 @import '../../node_modules/tachyons-sass/scss/font-style';
 @import '../../node_modules/tachyons-sass/scss/font-weight';
 @import 'imports/forms';
 @import 'imports/heights';
 @import 'imports/icons';
 @import '../../node_modules/tachyons-sass/scss/letter-spacing';
 @import '../../node_modules/tachyons-sass/scss/line-height';
 @import '../../node_modules/tachyons-sass/scss/links';
 @import 'imports/lists';
 @import 'imports/loaders';
 @import '../../node_modules/tachyons-sass/scss/max-widths';
 @import '../../node_modules/tachyons-sass/scss/widths';
 @import 'imports/overflow';
 @import 'imports/pages';
 @import '../../node_modules/tachyons-sass/scss/position';
 @import '../../node_modules/tachyons-sass/scss/opacity';
 @import '../../node_modules/tachyons-sass/scss/rotations';
 @import 'imports/skins';
 @import '../../node_modules/tachyons-sass/scss/skins-pseudo';
 @import 'imports/spacing';
 @import '../../node_modules/tachyons-sass/scss/negative-margins';
 @import '../../node_modules/tachyons-sass/scss/tables';
 @import '../../node_modules/tachyons-sass/scss/text-decoration';
 @import '../../node_modules/tachyons-sass/scss/text-align';
 @import '../../node_modules/tachyons-sass/scss/text-transform';
 @import '../../node_modules/tachyons-sass/scss/type-scale';
 @import 'imports/typography';
 @import 'imports/utilities';
 @import 'imports/visibility';
 @import '../../node_modules/tachyons-sass/scss/white-space';
 @import '../../node_modules/tachyons-sass/scss/vertical-align';
 @import 'imports/hovers';
 @import 'imports/z-index';
 @import 'imports/nested';
 @import 'imports/styles';
